* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: #ededf8;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

#root {
    min-height: 100vh;
}
